h1 {
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.tile {
  position: relative;
  height: 100%;
}
.tile img {
  display: block;
  object-fit: contain;
  width: 100px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  
}

.tile .card-body {
  display: block;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}


.tile .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile .buttons button {
  margin-top: 1rem;
}



 img {
  height: 100px;
  width: auto;
} 

h3 {
  color:blueviolet;
  font-size: 0.875rem;
  line-height: 1.8;
}

/* PRODUCT PAGE STYLES */
.product-container {
  display: flex;
  justify-content: space-evenly;
  padding: 6em 6em 2.5em 6em;
  gap: 6em;
}
.prod-image {
  width: 300px;
  height: auto;
}
.brand {
  text-align: left;
}
.back {
  text-align: center;
  margin-bottom: 2em;
}

button {
  background-color: #d61063;
  border: none;
  font-size: 16px;

}

/* cart */

.cart-icon {
  position: relative;
  font-size: 24px;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #de2121;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* footer */

.footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.threeCards{
  background-color: #f1f1f1;
  text-align: center;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.column-three{
  float: left;
  width: 25%;
  padding: 0 10px;
}


.carousel-container {
  z-index: 1;
}

.my-carousel {
  padding-bottom: 300px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-content {
  padding-bottom: 60px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}


