.my-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .summary-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  .food-details {
    display: flex;
    align-items: center;
  }
  
  .food-details img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .order-details {
    margin-top: 20px;
  }
  
  .playlist-items-container {
    margin-top: 20px;
  }
  
  .playlist-items {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .playlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .playlist-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .playlist-item-details {
    margin-top: 10px;
    text-align: center;
  }
  
  .button-container {
    padding: 30px;
  }