.user-orders {
    padding: 1rem;
  }
  
  .user-orders table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  .user-orders th,
  .user-orders td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }
  
  .user-orders th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .user-orders ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 767px) {
    .user-orders table,
    .user-orders thead,
    .user-orders tbody,
    .user-orders th,
    .user-orders td,
    .user-orders tr {
      display: block;
    }
  
    .user-orders thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .user-orders tr {
      margin-bottom: 1rem;
      border-bottom: 2px solid #ccc; /* Add a border between orders */
      background-color: #fff; /* Set the default background color */
    }
  
    .user-orders tr:nth-child(even) {
      background-color: #f5f5f5; /* Set an alternating background color for even rows */
    }
  
    .user-orders td {
      border: none;
      border-bottom: 1px solid #ccc;
      position: relative;
      padding-left: 50%;
    }
  
    .user-orders td:before {
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      padding: 0.5rem;
      font-weight: bold;
      text-align: left;
    }
  }
  
  .hidden {
    display: none;
  }
  
  .user-playlists {
    padding: 1rem;

  }

  .user-playlists table button:first-child {
    margin-right: 10px;
  }
  
  .user-playlists table button:last-child {
    margin-left: 10px;
  }
  .user-playlists {
    border-collapse: collapse;
    width: 100%;
  }
  
  .user-playlists th,
  .user-playlists td {
    padding: 0.5rem;
    text-align: left;
  }
  
  .user-playlists th {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  .user-playlists tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-playlists tr:hover {
    background-color: #e2e2e2;
  }
  
  .user-playlists button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .user-playlists .btn-primary {
    background-color: #d61063;
    color: #fff;
  }
  
  .user-playlists .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  